.title {
    color: rgb(160, 43, 43);
    font-family: arial;
}

.string{
    color: rgb(124, 202, 45);
}

.author{
    font-weight: bold;
}

.content{
    text-align: right;
}

.menu{
    background-color: rgba(51, 102, 153, 1);
    padding: 1px;
    width: 10%;
    list-style: none;
}

.menu-item{
    background-color: rgb(255, 255, 255);
    margin: 7px;
    padding: 5px;
    text-transform: uppercase;
}

.menu-item:hover{
    background-color: rgba(255, 255, 204, 1);
    color: rgba(118, 163, 214, 1);
}

.menu a {
    color: rgba(118, 163, 214, 1);
    text-decoration: none;
}

.main-list{
    list-style-image: url('../img/minus.png');
}

.list{
    list-style-image: url('../img/point.png');
    margin: 5px auto;
}

.side-bar{
    background-color: rgb(255, 255, 255);
    width: 18%;
    
}

.main-list a{
    color: rgba(118, 163, 214, 1);
}